<phpunit bootstrap="unit-tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite>
            <directory suffix='Tests.php'>unit-tests/tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>dont-run</group>
        </exclude>
    </groups>
</phpunit>