<phpunit bootstrap=""
         colors="true">
    <testsuites>
        <testsuite>
            <directory suffix='Tests.php'>unit-tests/tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>skipped</group>
        </exclude>
    </groups>
</phpunit>